################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/taction/obj/Debug/netcoreapp3.1
