################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/taction/obj/Debug/netcoreapp3.1
/taction/obj
/taction/Properties/PublishProfiles/taction20200307114549 - Web Deploy.pubxml.user
/taction/Properties/PublishProfiles/taction20200307114549 - Web Deploy.pubxml
